<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" name="RoutingTest" packages="org.apache.logging.log4j.test" shutdownHook="disable">
    <Properties>
        <Property name="siteLogFileName">target/log/site_log.log</Property>
        <Property name="userLogFileName">target/log/user_log.log</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT">
            <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
        </Console>
        <File name="SiteLogFile" fileName="${siteLogFileName}">
            <PatternLayout>
                <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="UserLogFile" fileName="${userLogFileName}">
            <PatternLayout>
                <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="SiteLogFile"/>
        </Root>
        <Logger name = "UserLogger" level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="UserLogFile"/>
        </Logger>
    </Loggers>
</Configuration>